.header__auth-action {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.23;
  text-align: right;
  transition: opacity .3s ease;
}

.header__auth-action:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .header__auth-action {
    font-size: 14px;
    line-height: 17px;
  }
}