.profile {
    margin: 0 auto;
    padding: 42px 19px 0 19px;
    min-width: 282px;
    max-width: 880px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .profile {
        padding: 40px 20px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }
}