.popup__input-error {
    width: 358px;
    min-height: 35px;
    box-sizing: border-box;
    padding-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
    visibility: hidden;
    }