.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
} 

@media screen and (max-width: 768px) {
  .header__container {
    padding: 28px 30px 32px;
  }  
}