.header__auth {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 24px;
}

@media screen and (max-width: 768px) {
  .header__auth {
    border-bottom: 1px solid #545454;
    padding: 40px 0;
    flex-direction: column;
    column-gap: none;
    row-gap: 18px;
    align-items: center;
    width: 100%;
    order: -1;
  }
}